<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="components/loader.js"></script>
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="components/angular-ui-select/dist/select.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>

</head>
<body ng-controller="AppCtrl as app">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Sell
                </a>
            </div>
            <div collapse="isCollapsed" class="navbar-collapse" style="">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#" class="" style="">
                            Explore
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            Looks
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            Style
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="open()">
                            Sign in
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="form-group" style="display:inline;">
            <div class="input-group">
                <div class="input-group-btn">
                    <div ui-select ng-model="app.selected1">
                        <div ui-select-match placeholder="All...">{{$select.selected.name}}&nbsp;&nbsp;</div>
                        <div ui-select-choices repeat="l in app.list|filter:$select.search">{{l.name}}</div>
                    </div>
                </div>

                <input type="text" class="form-control" placeholder="What are searching for?">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view=""></div>
    </div>

</body>
</html>