<h3><a ui-sref="app.result">>return</a></h3>
<div class="container">

    <div id="menu">
        <div class="panel list-group">
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-home"></span> パソコン・周辺機器
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
            <a href="#menuOne" class="list-group-item" data-toggle="collapse" data-target="#menuOne" data-parent="#menu">
                <span class="glyphicon glyphicon-envelope"></span> セール <span class="label label-success">3</span>
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
            </a>
            <div id="menuOne" class="sublinks collapse">
                <a class="list-group-item small"> 受信ボックス<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                <a class="list-group-item small"> 送信ボックス<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
            </div>
            <a href="#menuTwo" class="list-group-item" data-toggle="collapse" data-target="#menuTwo" data-parent="#menu">
                <span class="glyphicon glyphicon-cog"></span> パソコン本体
                <span class="glyphicon glyphicon-chevron-up pull-right"></span>
            </a>
            <div id="menuTwo" class="sublinks collapse in">
                <a class="list-group-item small"> ツール１<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-3 col-md-3 accordion">
            <div class="panel list-group row">

                <

                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-home"></span> パソコン・周辺機器
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
                <a href="#menuOne" class="list-group-item" data-toggle="collapse" data-target="#menuOne" data-parent="#menu">
                    <span class="glyphicon glyphicon-envelope"></span> セール <span class="label label-success">3</span>
                    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                </a>
                <div id="menuOne" class="sublinks collapse">
                    <a class="list-group-item small"> 受信ボックス<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <a class="list-group-item small"> 送信ボックス<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                </div>
                <a href="#menuTwo" class="list-group-item" data-toggle="collapse" data-target="#menuTwo" data-parent="#menu">
                    <span class="glyphicon glyphicon-cog"></span> パソコン本体
                    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </a>
                <div id="menuTwo" class="sublinks collapse in">
                    <a class="list-group-item small"> ツール１<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                </div>
            </div>
        </div>



        <div class="col-sm-9 col-md-9">
            <div class="well">
                <h1>
                    Accordion Menu With Icon
                </h1>
                Admin Dashboard Accordion Menu
            </div>
        </div>



    </div>




    <div class="row">
        <div class="col-sm-3">
            <a href="#">
                <br />
                <img class="img-responsive" src="http://ecx.images-amazon.com/images/I/51N-6fBQZEL._AA160_.jpg" data-alt="" data-title="">
            </a>
            <br>
        </div>
        <div class="col-sm-9">
            <h2>
                <a class="url" href="#">Gentleman's Socks</a>
            </h2>

            <ul class="list-group ticketView">
                <li class="list-group-item ticketView">
                    <span class="label label-default">Color</span>
                    <label> Oatmeal</label>
                </li>
                <li class="list-group-item ticketView">
                    <span class="label label-default">Material</span>
                    <label> Cotton</label>
                </li>
                <li class="list-group-item ticketView">
                    <span class="label label-default">Sizes</span>
                    <label>
                        Mens's 5-10, 8-12
                    </label>
                </li>
                <li class="list-group-item ticketView">
                    <span class="label label-default">Stock #</span>N12325
                </li>
            </ul>
        </div>
        <!--/col-->
    </div>
</div>