<div ng-controller="HeaderController as app">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" ui-sref="app"></a>
        </div>

        <div collapse="isCollapsed" class="navbar-collapse " style="">

            <ul class="nav navbar-nav">
                <li><a href="#">カテゴリー</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">カテゴリー <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="col-sm-5 col-md-5 pull-right text-right"> 
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <button class="btn btn-default" type="submit">Sign in</button>
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>





<div class="container">
    <div class="form-group" style="display:inline;">
        <div class="input-group">
            <div class="input-group-btn">
                <div ui-select ng-model="app.selected1">
                    <div ui-select-match placeholder="All">{{$select.selected.name}}&nbsp;&nbsp;</div>
                    <div ui-select-choices repeat="l in app.list|filter:$select.search">{{l.name}}</div>
                </div>
            </div>

            <input type="text" class="form-control" placeholder="What are searching for?">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
            </div>

        </div>
    </div>
</div>

</div>