<h3>閲覧履歴</h3>
<hr>
<div class="row">
    <div class="col-sm-3">
        <a href="#">
            <img class="img-responsive" src="http://ecx.images-amazon.com/images/I/31qVvCxoJ-L._AA160_.jpg" data-alt="" data-title="">
            <a class="url" href="#">東芝 32V型 ハイビジョン 液晶テレビ REGZA 32S8</a>
        </a>
    </div>
    <!--/col-->
</div>
<hr>
<br />
<br/>
<h3>セール</h3>
<hr>
<div class="row">
    <div class="col-sm-3">
        <a href="#">
            <img class="img-responsive" src="http://ecx.images-amazon.com/images/I/51XxlWtL9yL._AA160_.jpg" data-alt="" data-title="">
            <a class="url" href="#">CFD販売 SSD 256GB 2.5inch TOSHIBA製 内蔵型 SATA6Gbps CSSD-S6T256NHG6Q</a>
        </a>
        <br>
    </div>
    <!--/col-->
</div>
<hr>